@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.woff") format("woff"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-600.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v18-latin_cyrillic-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v19-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v19-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway/raleway-v19-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v19-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  color: #ffffff;
}

.button--dark {
  color: #303030;
}

.button--center {
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: #ff6c00;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
}

.section-title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.section-subtitle {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-subtitle--linear::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}

.section-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-text--grey {
  color: #9da4bd;
}

.section-subtext {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list--dextral {
  margin-left: auto;
}

.list--vertical {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 630px;
  left: 50px;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.list__item--right:not(:last-child) {
  margin-right: 40px;
}

.list__item--linear {
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.list__link {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.list__link--view {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list__link--right {
  margin-right: 40px;
}

.list__link--view::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ff6c00;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list__link--view:hover,
.list__link--view:focus {
  color: #ff6c00;
}

.list__link--view:hover::after,
.list__link--view:focus::after {
  opacity: 1;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
}

.logo {
  margin-right: 71px;
}

.logo:hover,
.logo:focus {
  fill: #ff6c00;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.social-link {
  letter-spacing: 0.1em;
  color: #303030;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-:focus {
  color: #ff6c00;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f7f7f7;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__section-subtitle {
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.hero {
  position: relative;
  top: 0;
  left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1125px;
  height: 680px;
  padding: 272px 55px 49px 100px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/slider1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/slider1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__heading {
  width: 486px;
}

.hero__section-subtitle {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.hero__section-subtitle::before {
  background: rgba(157, 164, 189, 0.6);
}

.hero__title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
}

.slider-controls__item--left {
  position: relative;
  margin-right: 48px;
  text-align: left;
  color: rgba(157, 164, 189, 0.6);
}

.slider-controls__item--right {
  position: relative;
  text-align: right;
  color: #ffffff;
}

.slider-controls__item::after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 60px;
  height: 1px;
}

.slider-controls__item--left::after {
  left: 0;
  background-color: rgba(157, 164, 189, 0.6);
}

.slider-controls__item--right::after {
  right: 0;
  background-color: #ffffff;
}

.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.image-list {
  margin-right: 64px;
}

.image-list__item:not(:last-child) {
  margin-right: 30px;
}

.description {
  width: 500px;
}

.description__section-subtitle {
  margin-bottom: 20px;
  color: #303030;
}

.description__section-title,
.benefits__section-title {
  margin-bottom: 20px;
}

.description__section-text {
  margin-bottom: 20px;
  color: #555555;
}

.description__section-subtext {
  margin-bottom: 40px;
}

.service__section {
  background-color: #111319;
  background-image: url(../images/uslugi.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.service__section-subtitle {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.service__section-subtitle::before {
  background: rgba(157, 164, 189, 0.6);
}

.service__section-title {
  margin-bottom: 44px;
  color: #ffffff;
}

.service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.service__section-text {
  color: #9da4bd;
}

.service-block__bg {
  width: 585px;
  padding: 30px 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.service-block__bg:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.service-block__item {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /* Выравниваем текст */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Включаем флексы */
}

.service-block__item--bottom:not(:last-child) {
  margin-bottom: 20px;
}

.service-block__item::before {
  content: "";
  /* Выводим линию */
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  /* Параметры линии */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* Линия занимает всё доступное пространство */
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  /* Выводим вторым */
  margin: 0 5px;
  /* Расстояние от текста */
}

.service-block__value {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  /* Выводим третьим */
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-list--left {
  margin-right: 30px;
}

.benefits-list--right {
  margin-right: 130px;
  padding-top: 26px;
}

.benefits-list__item {
  margin-bottom: 30px;
  width: 170px;
  height: 133px;
}

.benefits-list__item:last-child {
  margin-bottom: 0;
}

.progress-block {
  padding: 20px 20px;
  background-color: #f7f7f7;
}

.progress-block__figures {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.progress-block__cross {
  position: relative;
  top: -20px;
  left: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: #ff6c00;
}

.progress-block__achievements {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.masters__section {
  background-color: #f7f7f7;
}

.masters__section-subtitle {
  margin-bottom: 20px;
}

.masters__section-subtitle::before {
  border-color: #303030;
}

.masters__section-title {
  margin-bottom: 44px;
}

.masters-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.barber__image {
  margin-bottom: 20px;
}

.barber__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.barber__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.community-list__item:not(:last-child) {
  margin-right: 10px;
}

.community-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #303030;
}

.community-list__link:hover,
.community-list__link:focus {
  fill: #ff6c00;
}

.gallery__section-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

.gallery__section-subtitle::before {
  background-color: #303030;
}

.gallery__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__section {
  background-color: #191c26;
}

.contacts__container {
  position: relative;
  height: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts__form {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}

.connection__section-title {
  margin-bottom: 44px;
  color: #ffffff;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.forms .connection-title {
  margin-bottom: 44px;
}

.contact-form__input {
  width: 100%;
  height: 24px;
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  -webkit-transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.contact-form__input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__label {
  width: 100%;
}

.contact-form__label--right {
  margin-right: 30px;
}

.contact-form__label--bottom {
  margin-bottom: 44px;
}

.contact-form__input--big {
  resize: none;
  height: 76px;
}

.contact-form__label:hover .contact-form__input::-webkit-input-placeholder,
.contact-form__label:focus .contact-form__input::-webkit-input-placeholder {
  color: #ffffff;
}

.contact-form__label:hover .contact-form__input:-ms-input-placeholder,
.contact-form__label:focus .contact-form__input:-ms-input-placeholder {
  color: #ffffff;
}

.contact-form__label:hover .contact-form__input::-ms-input-placeholder,
.contact-form__label:focus .contact-form__input::-ms-input-placeholder {
  color: #ffffff;
}

.contact-form__label:hover .contact-form__input::placeholder,
.contact-form__label:focus .contact-form__input::placeholder {
  color: #ffffff;
}

.contact-form__label:hover .contact-form__input,
.contact-form__label:focus .contact-form__input {
  border-color: #ffffff;
}

.contact-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 44px;
}

.contact-form__button {
  padding: 12px 38px;
}

.contacts__address-phone {
  position: absolute;
  top: -130px;
  left: 615px;
  width: 625px;
  height: 644px;
  padding-left: 100px;
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url(../images/Bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.address-phone__section-title {
  margin-bottom: 40px;
  color: #ffffff;
}

.address {
  width: 270px;
  margin-bottom: 70px;
}

.address-list__item {
  margin-bottom: 20px;
}

.address-list__item:last-child {
  margin-bottom: 0;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.worktime__section-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.worktime__section-subtitle::before {
  background: rgba(157, 164, 189, 0.6);
}

.worktime__section-text {
  color: #9da4bd;
}

.address-list__icon {
  margin-right: 16px;
}

.address-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  stroke: #9da4bd;
  fill: transparent;
}

.address-list__link--higher {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.address-list__link:hover,
.address-list__link:focus {
  color: #ff6c00;
  stroke: #ff6c00;
}
/*# sourceMappingURL=main.css.map */