:root {
  --accent-color: #ff6c00;
  --white-color: #ffffff;
  --main-color: #555555;
  --title-color: #303030;
  --second-color: #9da4bd;
  --opacity-color: rgba(157, 164, 189, 0.6);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.section-title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list--dextral {
  margin-left: auto;
}

.list--vertical {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 40px;
  left: 50px;
  transform-origin: center left;
}

.list__item--right:not(:last-child) {
  margin-right: 40px;
}

.list__item--linear {
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}

.list__link {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--white-color);
}

.list__link--view {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.list__link--right {
  margin-right: 40px;
}

.list__link--view::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.list__link--view:hover,
.list__link--view:focus {
  color: var(--accent-color);
}

.list__link--view:hover::after,
.list__link--view:focus::after {
  opacity: 1;
}

.button {
  display: block;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  cursor: pointer;
  color: var(--white-color);
}

.button--dark {
  color: var(--title-color);
}

.button--center {
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

.section-subtitle {
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-subtitle--linear::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--title-color);
}

.section-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-subtext {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-color);
}

/* Шапка */

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
}

.header__container {
  position: relative;
  height: 680px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 32px;
}

.logo {
  margin-right: 71px;
}

.logo:hover,
.logo:focus {
  fill: var(--accent-color);
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.social-link {
  letter-spacing: 0.1em;
  color: var(--title-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.social-link:hover,
.social-:focus {
  color: var(--accent-color);
}

/* Герой */

.hero {
  position: relative;
  top: 0;
  left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1125px;
  height: 680px;
  padding: 272px 55px 49px 100px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/slider1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__heading {
  width: 486px;
}

.hero__section-subtitle {
  margin-bottom: 20px;
  color: var(--opacity-color);
}

.hero__section-subtitle::before {
  background: var(--opacity-color);
}

.hero__title {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.section-text--grey {
  color: var(--second-color);
}

.slider-controls {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

.slider-controls__item--left {
  position: relative;
  margin-right: 48px;
  text-align: left;
  color: var(--opacity-color);
}

.slider-controls__item--right {
  position: relative;
  text-align: right;
  color: var(--white-color);
}

.slider-controls__item::after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 60px;
  height: 1px;
}

.slider-controls__item--left::after {
  left: 0;
  background-color: var(--opacity-color);
}

.slider-controls__item--right::after {
  right: 0;
  background-color: var(--white-color);
}

/* О нас */

.about-us__container {
  display: flex;
  align-items: flex-start;
}

.image-list {
  margin-right: 64px;
}

.image-list__item:not(:last-child) {
  margin-right: 30px;
}

.description {
  width: 500px;
}

.description__section-subtitle {
  margin-bottom: 20px;
  color: var(--title-color);
}

.description__section-title,
.benefits__section-title {
  margin-bottom: 20px;
}

.description__section-text {
  margin-bottom: 20px;
  color: var(--main-color);
}

.description__section-subtext {
  margin-bottom: 40px;
}

/* Услуги и цены */

.service__section {
  background-color: #111319;
  background-image: url(../images/uslugi.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.service__section-subtitle {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.service__section-subtitle::before {
  background: rgba(157, 164, 189, 0.6);
}

.service__section-title {
  margin-bottom: 44px;
  color: var(--white-color);
}

.service-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.service__section-text {
  color: var(--second-color);
}

.service-block__bg {
  width: 585px;
  padding: 30px 40px;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.service-block__bg:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.service-block__item {
  align-items: baseline;
  /* Выравниваем текст */
  display: flex;
  /* Включаем флексы */
}

.service-block__item--bottom:not(:last-child) {
  margin-bottom: 20px;
}

.service-block__item::before {
  content: "";
  /* Выводим линию */
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  /* Параметры линии */
  flex-grow: 1;
  /* Линия занимает всё доступное пространство */
  order: 2;
  /* Выводим вторым */
  margin: 0 5px;
  /* Расстояние от текста */
}

.service-block__value {
  order: 3;
  /* Выводим третьим */
}

/* Преимущества */

.benefits__container {
  display: flex;
  justify-content: center;
}

.benefits-list--left {
  margin-right: 30px;
}

.benefits-list--right {
  margin-right: 130px;
  padding-top: 26px;
}

.benefits-list__item {
  margin-bottom: 30px;
  width: 170px;
  height: 133px;
}

.benefits-list__item:last-child {
  margin-bottom: 0;
}

.progress-block {
  padding: 20px 20px;
  background-color: #f7f7f7;
}

.progress-block__figures {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.progress-block__cross {
  position: relative;
  top: -20px;
  left: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;

  text-align: center;
  color: var(--accent-color);
}

.progress-block__achievements {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--title-color);
}

.benefits-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

/* Наши мастера */

.masters__section {
  background-color: #f7f7f7;
}

.masters__section-subtitle {
  margin-bottom: 20px;
}

.masters__section-subtitle::before {
  border-color: var(--title-color);
}

.masters__section-title {
  margin-bottom: 44px;
}

.masters-list {
  justify-content: space-between;
}

.barber__image {
  margin-bottom: 20px;
}

.barber__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--title-color);
}

.barber__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.community-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.community-list__item:last-child {
  margin-right: 0;
}

.community-list__link {
  fill: var(--title-color);
}

.community-list__link:hover,
.community-list__link:focus {
  fill: var(--accent-color);
}

/* Галерея */

.gallery__section-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.gallery__section-subtitle::before {
  background-color: var(--title-color);
}

.gallery__list {
  justify-content: space-between;
}

/* Контакты */

.contacts__section {
  background-color: #191c26;
}

.contacts__container {
  position: relative;
  height: 384px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.contacts__form {
  flex-basis: 600px;
}

.connection__section-title {
  margin-bottom: 44px;
  color: var(--white-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  align-items: flex-start;
}

.forms .connection-title {
  margin-bottom: 44px;
}

.contact-form__input {
  width: 100%;
  height: 24px;
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-bottom var(--transition-duration)
    var(--transition-timing-function);
  cursor: pointer;
}

.contact-form__input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact-form__label {
  width: 100%;
}

.contact-form__label--right {
  margin-right: 30px;
}

.contact-form__label--bottom {
  margin-bottom: 44px;
}

.contact-form__input--big {
  resize: none;
  height: 76px;
}

.contact-form__label:hover .contact-form__input::placeholder,
.contact-form__label:focus .contact-form__input::placeholder {
  color: var(--white-color);
}

.contact-form__label:hover .contact-form__input,
.contact-form__label:focus .contact-form__input {
  border-color: var(--white-color);
}

.contact-form__container {
  display: flex;
  width: 100%;
  margin-bottom: 44px;
}

.contact-form__button {
  padding: 12px 38px;
}

.contacts__address-phone {
  position: absolute;
  top: -130px;
  left: 615px;
  width: 625px;
  height: 644px;
  padding-left: 100px;
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url(../images/Bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.address-phone__section-title {
  margin-bottom: 40px;
  color: var(--white-color);
}

.address {
  width: 270px;
  margin-bottom: 70px;
}

.address-list__item {
  margin-bottom: 20px;
}

.address-list__item:last-child {
  margin-bottom: 0;
  text-decoration-line: underline;
}

.worktime__section-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--white-color);
}

.worktime__section-subtitle::before {
  background: var(--opacity-color);
}

.worktime__section-text {
  color: var(--second-color);
}

.address-list__icon {
  margin-right: 16px;
}

.address-list__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-color);
  stroke: var(--second-color);
  fill: transparent;
}

.address-list__link--higher {
  align-items: flex-start;
}

.address-list__link:hover,
.address-list__link:focus {
  color: var(--accent-color);
  stroke: var(--accent-color);
}

/* Футер */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f7f7f7;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__section-subtitle {
  letter-spacing: 0.2em;
  color: var(--second-color);
}
