:root {
  --accent-color: #ff6c00;
  --white-color: #ffffff;
  --main-color: #555555;
  --title-color: #303030;
  --second-color: #9da4bd;
  --opacity-color: rgba(157, 164, 189, 0.6);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid tomato;
}

/* Шапка */

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
}

.main-menu {
  position: relative;
  height: 680px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  margin-right: 71px;
}

.logo:hover,
.logo:focus {
  fill: var(--accent-color);
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin-right: 40px;
}

.menu-item:last-child {
  margin-right: 0;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link:hover::after,
.link:focus::after {
  opacity: 1;
}



.link {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.menu-link {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--white-color);
}

.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.contacts .menu-link {
  margin-right: 40px;
}

.contacts .menu-link:last-child {
  margin-right: 0;
}

.button {
  padding: 12px 20px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

/* Герой */

/* .hero {
  height: 680px;
} */

.hero {
  position: relative;
  top: 0;
  left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1125px;
  height: 680px;
  padding: 272px 55px 49px 100px;
  background-color: #c4c4c4;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/slider1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-heading {
  width: 486px;
}

.hero-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--opacity-color);
}

.hero-title::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--opacity-color);
}

.hero-subtitle {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.hero-text {
  color: var(--second-color);
}

.slider-controls {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

.controls-item:nth-child(1) {
  position: relative;
  margin-right: 48px;
  text-align: left;
  color: var(--opacity-color);
}

.controls-item:nth-child(1)::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: var(--opacity-color);
}

.controls-item:nth-child(2) {
  position: relative;
  text-align: right;
  color: var(--white-color);
}

.controls-item:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 60px;
  height: 1px;
  background-color: var(--white-color);
}


.social-list {
  display: flex;
  align-items: center;
}

.social-list--vertical {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 40px;
  left: 50px;
  transform-origin: center left;
}

.social-item {
  margin-right: 40px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-item:first-child {
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}

.social-link {
  letter-spacing: 0.2em;
  color: var(--title-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

.slider-nav {
}

.slider-item:nth-child(1) {
  display: block;
  width: 18px;
  height: 2px;
  margin-left: auto;
  margin-bottom: 12px;
  background-color: var(--white-color);
}

.slider-item:nth-child(2),
.slider-item:nth-child(3) {
  display: block;
  width: 8px;
  height: 2px;
  margin-left: auto;
  margin-bottom: 12px;
  background-color: var(--second-color);
}

.slider-item:nth-child(3) {
  margin-bottom: 0;
}

/* О нас */

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.best-shop {
  display: flex;
  align-items: flex-start;
}

.about-us .image-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 64px;
}

.image-item:first-child {
  margin-right: 30px;
}

.us-image {
  display: block;
}

.description {
  width: 500px;
}

.us-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--title-color);
}

.us-subtitle::before,
.service-subtitle::before,
.benefits-subtitle::before,
.master-subtitle::before,
.gallery-subtitle::before,
.worktime::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--title-color);
}

.section-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.us-title,
.benefits-title {
  margin-bottom: 20px;
}
.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.us-text {
  margin-bottom: 20px;
  color: var(--main-color);
}
.section-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.us-subtext {
  margin-bottom: 40px;
}

.section-subtext {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-color);
}

.button-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--title-color);
}

/* Услуги и цены */

.service {
  background-color: #111319;
  background-image: url(../images/uslugi.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.service-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.service-subtitle::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.service-title {
  margin-bottom: 44px;
  color: var(--white-color);
}

.service-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.service-text {
  color: var(--second-color);
}

.service-block .first,
.service-block .second {
  width: 585px;
  padding: 30px 40px;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.service-block .first {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.service-block .second {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.service-item {
  align-items: baseline;
  /* Выравниваем текст */
  display: flex;
  /* Включаем флексы */
  margin-bottom: 20px;
  /* Отступ снизу */
}

.service-item:last-child {
  margin-bottom: 0;
}

.service-item::before {
  content: "";
  /* Выводим линию */
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  /* Параметры линии */
  flex-grow: 1;
  /* Линия занимает всё доступное пространство */
  order: 2;
  /* Выводим вторым */
  margin: 0 5px;
  /* Расстояние от текста */
}

.service-value {
  order: 3;
  /* Выводим третьим */
}

.service .button-text {
  display: block;
  margin: 0 auto;
  color: var(--white-color);
}

/* Преимущества */

.benefits {
  display: flex;
  justify-content: center;
}

.benefits-list.first {
  margin-right: 30px;
}

.benefits-list.second {
  margin-right: 130px;
  padding-top: 26px;
}

.benefits-item {
  margin-bottom: 30px;
  width: 170px;
  height: 133px;
}

.benefits-item:last-child {
  margin-bottom: 0;
}

.benefits-block {
  padding: 20px 20px;
  background-color: #f7f7f7;
}

.benefits-figures {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-color);
}
.benefits-figures .plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;

  text-align: center;
  color: var(--accent-color);
}
sup {
  top: -1.8em;
}

.achievements {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--title-color);
}

.benefits-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
/* Наши мастера */

.masters {
  background-color: #f7f7f7;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.master-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.master-title {
  margin-bottom: 44px;
}

.master-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.master-img {
  margin-bottom: 20px;
}

.master-name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--title-color);
}

.master-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.community-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.community-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.community-item:last-child {
  margin-right: 0;
}

.community-link {
  fill: var(--title-color);
}

.community-link:hover,
.community-link:focus {
  fill: var(--accent-color);
}

/* Галерея */

.gallery-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.galleru-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Контакты */

.connection {
  background-color: #191c26;
}

.connection-title {
  color: var(--white-color);
}

.form-address {
  position: relative;
  height: 384px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.forms {
  flex-basis: 600px;
}

.form-send {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  align-items: flex-start;
}

.forms .connection-title {
  margin-bottom: 44px;
}

.input {
  width: 100%;
  height: 24px;
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.input-name {
  width: 100%;
  margin-right: 30px;
}

.input-phone {
  width: 100%;
}

.input-message {
  resize: none;
  height: 76px;
}
.input-name:hover, .input-name:focus {
  color: var(--white-color);
}

.form-container {
  display: flex;
  width: 100%;
  margin-bottom: 44px;
}

.message {
  width: 100%;
  margin-bottom: 44px;
}

.connection .button-text {
  color: var(--white-color);
}

.address-phone {
  position: absolute;
  top: -130px;
  right: -55px;
  width: 625px;
  height: 644px;
  padding-left: 100px;
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url(../images/Bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.address-phone .connection-title {
  margin-bottom: 40px;
}

.address {
  width: 270px;
  margin-bottom: 70px;
}

.address-item {
  margin-bottom: 20px;
}

.address-item:last-child {
  margin-bottom: 0;
  text-decoration-line: underline;
}

.worktime {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--white-color);
}

.worktime::before {
  background: var(--opacity-color);
}

.worktime-text {
  color: var(--second-color);
}

.address-icon {
  margin-right: 16px;
}

.address-link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-color);
  stroke: var(--second-color);
  fill: transparent;
}

.map {
  align-items: flex-start;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
  stroke: var(--accent-color);
}

/* Футер */

.footer-section {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f7f7f7;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-subtitle {
  letter-spacing: 0.2em;
  color: var(--second-color);
}
