.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $accent-color;
  border-radius: 25px;
  transition: background-color $transition-duration$transition-timing-function;
  cursor: pointer;
  color: $white-color;
}

.button--dark {
  color: $title-color;
}

.button--center {
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: $accent-color;
}
