.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-title {
  font-family: $title-font, sans-serif;
  @include font(700,42px,1.16,0.05em);
  color: $title-color;
}

.section-title--bottom {
  margin-bottom: 20px;
}

.section-title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.section-subtitle {
  @include flex($justify-content: flex-start);
  @include font(600,11px,1.36,0.1em);
  text-transform: uppercase;
  color: $title-color;
}

.section-subtitle--bottom {
  margin-bottom: 20px;
}

.section-subtitle--linear::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: $title-color;
}

.section-text {
  @include font-shs(18px,1.67,0.02em);
}

.section-text--grey {
  color: $second-color;
}

.section-subtext {
  @include font-shs(14px,1.86,0.02em);
  color: $main-color;
}
