.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  padding: 12px 20px;
  @include font(600,12px,1.33,0.09em);
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $accent-color;
  border-radius: 25px;
  @include transition(background-color);
  cursor: pointer;
  color: $white-color;
}

.button--dark {
  color: $title-color;
}

.button--center {
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: $accent-color;
}
