.nav-menu {
  @include flex;
  flex-grow: 1;
}

.social-link {
  letter-spacing: 0.1em;
  color: $title-color;
  @include transition(color);
}

.social-link:hover,
.social-:focus {
  color: $accent-color;
}
