.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.social-link {
  letter-spacing: 0.1em;
  color: $title-color;
  transition: color $transition-duration$transition-timing-function;
}

.social-link:hover,
.social-:focus {
  color: $accent-color;
}
