.about-us__container {
  @include flex($align-items:flex-start, $justify-content:flex-start);
}

.image-list {
  margin-right: 64px;
}

.image-list__item:not(:last-child) {
  margin-right: 30px;
}

.description {
  width: 500px;
}

.description__section-text {
  margin-bottom: 20px;
  color: $main-color;
}

.description__section-subtext {
  margin-bottom: 40px;
}
