.benefits__container {
  @include flex($align-items: flex-start,$justify-content:center);
}

.benefits-list--left {
  margin-right: 30px;
}

.benefits-list--right {
  margin-right: 130px;
  padding-top: 26px;
}

.benefits-list__item {
  margin-bottom: 30px;
  width: 170px;
  height: 133px;
}

.benefits-list__item:last-child {
  margin-bottom: 0;
}

.progress-block {
  padding: 20px 20px;
  background-color: #f7f7f7;
}

.progress-block__figures {
  @include font(700,42px,1.36,0.05em);
  text-align: center;
  color: $title-color;
}

.progress-block__cross {
  position: relative;
  top: -20px;
  left: 2px;
  @include font(600,16px,1.37,unset);
  text-align: center;
  color: $accent-color;
}

.progress-block__achievements {
  @include font(600,11px,1.36,unset);
  text-align: center;
  color: $title-color;
}