.benefits__container {
  display: flex;
  justify-content: center;
}

.benefits-list--left {
  margin-right: 30px;
}

.benefits-list--right {
  margin-right: 130px;
  padding-top: 26px;
}

.benefits-list__item {
  margin-bottom: 30px;
  width: 170px;
  height: 133px;
}

.benefits-list__item:last-child {
  margin-bottom: 0;
}

.progress-block {
  padding: 20px 20px;
  background-color: #f7f7f7;
}

.progress-block__figures {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: $title-color;
}

.progress-block__cross {
  position: relative;
  top: -20px;
  left: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;

  text-align: center;
  color: $accent-color;
}

.progress-block__achievements {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: $title-color;
}

.benefits-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
