.masters__section {
  background-color: #f7f7f7;
}

.masters__section-title {
  margin-bottom: 44px;
}

.masters-list {
  justify-content: space-between;
}

.barber__image {
  margin-bottom: 20px;
}

.barber__name {
  margin-bottom: 8px;
  @include font-shs(18px,1.39,0.02em);
  text-align: center;
  color: $title-color;
}

.barber__position {
  margin-bottom: 30px;
  @include font-shs(14px,1.36,0.02em);
  text-align: center;
  color: $accent-color;
}

.community-list__item:not(:last-child) {
  margin-right: 10px;
}

.community-list__link {
  @include flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $white-color;
  fill: $title-color;
}

.community-list__link:hover,
.community-list__link:focus {
  fill: $accent-color;
}
