$accent-color: #ff6c00;
$white-color: #ffffff;
$main-color: #555555;
$title-color: #303030;
$second-color: #9da4bd;
$opacity-color: rgba(157, 164, 189, 0.6);
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$title-font: "Raleway";
$main-font: "Open Sans";



$changes: $transition-duration $transition-timing-function;
